@keyframes fadeUp{

    from{

        opacity:0;

        transform:
        translateY(60px);

    }

    to{

        opacity:1;

        transform:
        translateY(0);

    }

}

.hero-content h1::after{

    content:"";

    display:block;

    width:120px;

    height:3px;

    background:#d4af37;

    margin:15px auto;

}